{% extends 'base.html.twig' %}

{% block title %}Blog AdminRéseau{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center mb-5">Bienvenue sur mon blog !</h1>
    <p class="text-center mb-5">Ce site à été réalisé en Symfony/Bootstrap dans le cadre de ma formation chez Epitech.</br>Passionné depuis toujours par tout ce qui touche à la gestion des réseaux informatiques.</br> Je me suis lancé le défi de créer un blog complet afin d'aider les débutants comme moi à aquérir les notions indispensables dans la quête de l'expertise réseau.</p>
    <p class="text-center mb-5">Vous y trouverez des articles détaillés, des tutoriels pratiques et des ressources utiles pour vous accompagner dans votre apprentissage.</br> N'hésitez pas à explorer les différentes sections du blog et à me faire part de vos retours !</p>
</div>
{% endblock %}
